@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

:root{
    --navy: #16202B;
    --purple: #674188;
    --light-purple: #C3ACD0;
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,.1);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type:none;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: var(--navy);
    font-weight: 400;
    transition: all .2s linear;
}

.box{
    width: 100%;
    margin: .7rem;
    background: var(--light-purple);
    border-radius: .5rem;
    padding: 1rem;
    color: var(--purple);
    text-transform: none;
    outline: none;
    border: none;
    transition: .2s linear;
}


.btn{
    display: flex;
    align-items: center;
    background-color:var(--purple);
    color: #fff;
    cursor: pointer;
    padding-inline: 30px;
    height: 50px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    max-width: max-content;
}

.login-btn{
    background-color: inherit;
    color: var(--purple);
    border: 1px solid var(--purple);
    max-width: none;
    width: 100%;
    justify-content: center;
    font-size: 20px;
    transition: .3s ;
}

.login-btn:hover{
    background-color: var(--purple);
    color: #fff;
}

.contact-card{
    box-shadow: var(--box-shadow);
    position: relative;
    top: -5000%;
    left: 50%;
    position: absolute;
    background: #fff;
    border-radius: 10px;
    transform: translate(-50%, 30%);
    transition: all .5s;
}


/* NavBar Starts */

.navbar{
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
    box-shadow:var(--box-shadow) ;
    padding: 32px 100px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.logo{
    align-items: center;
    gap: 8px;
}

.logo p{
    font-size: 28px;
    font-weight: 700;
    cursor:default;
}

.navbar li a,
.navbar li{
    font-size: 20px;
}


.nav-list ul{
    gap: 32px;
}

.nav-form ul{
    gap: 20px;
    align-items:center ;
}


input[type="number"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder{
    color: var(--purple);
    font-size: 1rem;
}


.navbar .login-form{
    position: absolute;
    top: 110%; right: -110%;
    width: 21rem;
    padding: 2rem;
    box-shadow:var(--box-shadow) ;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.navbar .login-form.active{
    right: 2rem;
    transition: .3s linear;
}

.navbar .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;

}

#login-btn{
    cursor: pointer;
}

.navbar .login-form .box{
    width: 100%;
    margin: .7rem;
    background: var(--light-purple);
    border-radius: .5rem;
    padding: 1rem;
    color: var(--purple);
    text-transform: none;
    outline: none;
    border: none;
    transition: .2s linear;
}

.navbar .login-form .forgot-password{
    color: var(--purple);
    margin-left: 7.8rem;
    font-weight: 600;
}

.navbar .login-form p{
    padding: .5rem 0;
    color: var(--navy);
}

.navbar .login-form p a{
    color: var(--purple);
    text-decoration: underline;
    font-weight: 600;
}

.navbar .register-form{
    width: 24rem;
}

.navbar .register-form.active{
    right: 1rem;
    transition: .3s linear;
}

/* NavBar Ends */

/* Hero Starts */

.hero{
    display: flex;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
}

.hero .top-title{
    font-size: 21px;
    font-weight: 500;
    cursor: default;
}

.hero .top-title,
.hero .top-title i{
    border-radius: 25px;
    color: #C3ACD0;
    gap: 10px;
}

.hero .content{
    flex: 1 7 40rem;
    padding-top: 6.5rem;
}

.hero .content h1{
    font-size: 60px;
    font-weight: 700;
    margin: 25px 0;
}

.hero .right-side{
    flex: 1 1 40rem;
}

.hero .right-side img{
    width: 100%;
    padding-top: 7rem;
}

/* Hero Ends */

/* Services Starts */
    .services{
        
        display: flex;
        gap: 124px;
    }

    .services .left-side{
        width: 30%;
    }

    .title p{
        font-size: 21px;
    }

    .title h3{
        font-size: 43px;
        font-weight: 600;
        margin-top: 14px;
    }

    .services .right-side{
        display: flex;
        align-items: flex-start;
        gap: 41px;
    }

    .services .service-card{
        background-color: var(--light-purple);
        border-radius: 8px;
        gap: 30px;
        padding: 25px 0 0 17px;
    }

    .service-card h2{
        font-size: 20px;
        font-weight: 600;
        margin: 15px 0;
    }

    .service-card p{
        margin-bottom: 34px;margin-right: 18px;
    }

    .services .mid{
        background-color: var(--purple);
    }

/* Services Ends */

/* Travel Starts */

    .section-title{
        margin-top: 69px;
        text-align: center;
    }

    .travel-cards{
        padding: 0 50px 35px;
    }

    .travel-cards .card{
        margin-top: 47px;
        width: 30%;
    }

    .travel-cards .card .agency-info{
        justify-content: space-between;
    }

    .travel-cards .card .agency-info .btn{
        padding-inline: 20px;
        height: 45px;
    }

    .travel-cards .card img{
        border-radius: 1rem;
        width: 100%;
        object-fit: cover;
    }

    .travel-cards .card-content h3{
        margin: 15px 0;
    }

/* Travel Ends */

/* Recommended Starts */

.recommended .card-rec{
    position: relative;
}

.recommended .card-rec p{
    position: absolute;
    background-color: white;
    border-radius: 1.5rem;
    font-weight: 600;
    font-size: 20px;
    top: 10px;
    right: 10px;
    padding: 4px;
    width: 4.7rem;
    text-align: center;
    color:  var(--purple);
}

/* Recommended Ends */

/* Footer Starts */
    .top-footer{
        justify-content: space-between;
    }

    .top-footer .left{
        width: 21%;
    }

    .top-footer .left span{
        margin: 15px 0;
    }

    .top-footer .mid{
        gap: 40px;
    }

    .top-footer .mid ul li{
        color: #857F81;
        font-size: 18px
    }

    .top-footer .mid .list-title{
        color: var(--navy);
        font-weight: 500;
    }

    .top-footer .right{
        width: 21%;
    }

    .top-footer .right span{
        margin: 17px 0;
    }

    .top-footer .right .mail-sent{
        position: relative;
    }

    .top-footer .right .mail-sent input[type="email"]{
        width: 100%;
        padding: .4rem;
        border-radius: .5rem;
        outline: none;
        border: 1px solid #857F81;
    }

    .top-footer .right button{
        position: absolute;
        right: 0;
        border: none;
        background-color: inherit;
        height: 100%;
    }

    .top-footer .right button img{
        display: flex;
        align-items: center;
    }

    .line{
        margin: 59px 0 22px 0;
        height: 2px;
        background-color: #cbcbcb;
    }

    .bot-footer{
        justify-content: space-between;
        margin-bottom: 22px;
    }

    .bot-footer .social-icons ul{
        gap: 20px;
    }
/* Footer Ends */

