body{
    background: url(/assets/bg/world.webp) center no-repeat;
    background-size: cover;
}

.register-form{
    position: relative;
    height: 88vh;
}

.reg-container{
   position: absolute;
   left:50%;
   top: 50%;
   transform: translate(-50%,-50%);
   border: 1px solid #857F81;
   border-radius: .5rem;
   padding: 3rem;
   background-color: #fff;
   gap: 15px;
}

.form-left .box{
    margin: 10px 0;
}

.form-left .form-name{
    gap: 10px;
}

.form-right{
    width: 75%;
    margin: auto;
}

.form-right img{
    width: 100%;
}